<h1>Is a Bus Nearby?</h1>

<p>Give us your address or approximate location (<em>I'm at the corner of...</em>), and we'll let you know if there's a bus in the vicinity!</p>

<%= render 'form', location: @location %>

<%# link_to 'Back', locations_path %>

